<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230411271329-k3c9klg6bn20gsjjb3apn4v169lh8ad6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230411271329-k3c9klg6bn20gsjjb3apn4v169lh8ad6</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2TeqjANNgV0R3DwTSN5yqJgYQUsupl0</string>
	<key>GCM_SENDER_ID</key>
	<string>230411271329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>voodoolab.carWash</string>
	<key>PROJECT_ID</key>
	<string>eco-wash-711ea</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-wash-711ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230411271329:ios:67837d249e29e47d8304e0</string>
	<key>DATABASE_URL</key>
	<string>https://eco-wash-711ea.firebaseio.com</string>
</dict>
</plist>